NATS_PORT=5422
NATS_HTTP_PORT=18222

DEVICE_MANAGEMENT_DB_PASSWORD=...
DEVICE_MANAGEMENT_DB_USER=...
DEVICE_MANAGEMENT_DB=device_management
DEVICE_MANAGEMENT_DB_PORT=7432

AUTOMATION_ENGINE_DB_PASSWORD=...
AUTOMATION_ENGINE_DB_USER=...
AUTOMATION_ENGINE_DB=automation_engine
AUTOMATION_ENGINE_DB_PORT=8432

CLICKHOUSE_USER=...
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_PASSWORD=...
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_PORT=9000

DEBUG=1
JWT_HS_256_SECRET_KEY=...

DEVICE_MANAGEMENT_PORT=9999
AUTOMATION_ENGINE_PORT=9998
TELEMETRY_PORT=9997
VIDEOMONITORING_PORT=9996

DEVICES_TOKEN=...
